%div.menu__right
  %div.group__display
    %div.group__display--name
      %h2 sample
      %ul
        %li Members:
        %li seo
        %li neko
    %div.edit
      = link_to 'Edit', "/groups/#{@group.id}/edit", method: :get, class: 'edit__button'
