.menu__right
  .group__display
    .group__display--name
      %h2
        = @group.name
      .members
        %p Members:
        - @group.users.each do |user|
          %p
            = user.name
    .edit
      = link_to 'Edit', "/groups/#{@group.id}/edit", method: :get, class: 'edit__button'
