.content-right{
  height: calc(100vh - 100px);
  width: calc(100% - 300px);
  float: right;
  .content__messages{
    width: calc(100vw - 300px);
    height: calc(100vh - 190px);
    background-color: $white;
    float: right;
    box-sizing: border-box;
    padding: 46px 40px;
    overflow: scroll;
    .message{
      padding-bottom: 40px;
      &__info{
        box-sizing: border-box;
        padding-bottom: 10px;
        .upper-message__user-name{
          font-size: 16px;
          font-weight: bold;
          display: inline;
          color: #434A54;
        }
        .upper-message__date{
          font-size: 12px;
          margin-left: 10px;
          display: inline;
          color: #999999;
          }
        }
      }
      p.text{
        font-size: 14px;
        color: #434A54;
      }
  }
}
