.groups{
  width: 300px;
  height: calc(100vh - 100px);
  background-color: $groups_blue;
  float: left;
  padding: 20px 20px 0px 20px;
  box-sizing: border-box;
  &__left{
    margin-bottom: 40px;
    p{
      font-size: 15px;
      text-decoration: bold;
      color: $white;
    }
    p.group_title{
      padding-top: 5px;
      font-size: 11px;
    }
  }
}
